## <span style="background-color:Green; color: white; border-radius: 4px; font-size: 16px; text-align: center;">GET</span> - Ver VoIP

> **Ejemplo**

```shell
curl --location --request GET 'http://10.64.17.44:32772/restconf/data/services/pon/services/voip=26138349?content=config' \
--header 'Accept: application/yang-data+json' \
--header 'Authorization: Basic YWRtaW46YWRtaW4='
```

```python
import requests

url = "http://10.64.17.44:32772/restconf/data/services/pon/services/voip=26138349?content=config"

payload={}
headers = {
  'Accept': 'application/yang-data+json',
  'Authorization': 'Basic YWRtaW46YWRtaW4='
}

response = requests.request("GET", url, headers=headers, data=payload)

print(response.text)

```

> **Respuesta**

```json
{
    {
        "antel-pon-voip:voip": [
            {
                "code": "26138349",
                "customer": "PEREIRA ASIS",
                "onus": [
                    {
                        "olt": "CEYD-01Z",
                        "rack": 1,
                        "shelf": 1,
                        "slot": 3,
                        "port": 1,
                        "onuid": 30,
                        "traffic-profile": {
                            "downstream": "DOWNFXS",
                            "upstream": "UPFXS"
                        },
                        "port-fxs": [
                            {
                                "lan-card": 0,
                                "port": 1,
                                "user-name": "26138349",
                                "password": "54321"
                            }
                        ]
                    }
                ]
            }
        ]
    }
```

Método que muestra los parámetros de un servicio VoIP específico.

### **HTTP Request**

`data/services/pon/services/voip=<voip_code>/content=config`

### **Parámetros**
| Key        | Value                                                 |
|------------|-------------------------------------------------------|
| `voip`     | Código de identificación del servicio VoIP a verificar|
| `content`  | "config"                                              |

### **Encabezados**
`Accept: application/yang-data+json`   

### **Atributos**
Vacío

### **Respuesta**
JSON/XML que contiene la informacion del servicio VoIP. 
Los campos del JSON son los mismos que los requeridos para el alta VoIP.
