---
title: NSO GPON RESTCONF API

language_tabs: # must be one of https://git.io/vQNgJ
  - shell
  - python

toc_footers:
  - <a href='https://corp.antel.com.uy/wiki/display/NSO'>Wiki del Proyecto</a>

search: true
---

<%= partial "./api/v1/v1.html.md.erb" %>